# Data Types and Structures Questions

1. What are data structures, and why are they important?
   - Data structures are ways of storing and organizing data so that it can be used efficiently.
   - Examples: lists, stacks, queues, trees, graphs, dictionaries, etc.
   - Why are they important?
     - Data structures are important because they help:
     - 1️⃣ Store data in an organized way
     - 2️⃣ Access and search information quickly
      - 3️⃣ Save memory and improve performance
      - 4️⃣ Handle large amounts of data easily
      - 5️⃣ Build efficient apps like social media, search engines, online shopping apps, etc.

2.   Explain the difference between mutable and immutable data types with examples
  - 1. Mutable Data Types
    - These are data types whose values can be changed after they are created.

      ✔️ You can add, remove, or modify elements.
    - Examples: list, set, dict (dictionary)


```
my_list = [1, 2, 3]
my_list[0] = 10   # value changed
print(my_list)    # [10, 2, 3]

```
  - 2. Immutable Data Types
    - These are data types whose values cannot be changed once created.

      ✔️ You cannot modify elements;

      ✔️ You must create a new object if you want changes.
    - Examples: int, float, string, tuple


```
my_tuple = (1, 2, 3)
# my_tuple[0] = 10   # ❌ This will cause an error because tuples are immutable

```

3. What are the main differences between lists and tuples in Python?
  Differences Between Lists and Tuples in Python

        1. Mutability
        - List: Can be changed (add, remove, update elements)
        - Tuple: Cannot be changed once created

        2. Syntax
        - List: Uses square brackets → [ ]
          Example:
          my_list = [1, 2, 3]

        - Tuple: Uses parentheses → ( )
          Example:
          my_tuple = (1, 2, 3)

        3. Speed
        - List: Slower
        - Tuple: Faster (because it is fixed)

        4. Memory Usage
        - List: Uses more memory
        - Tuple: Uses less memory

        5. Use Case
        - List: Best when data needs to change
        - Tuple: Best when data should stay constant (like coordinates, dates, config values)

        Short Summary Table
        -------------------
        Feature           | List ([]) | Tuple (())
        ------------------------------------------------
        Changeable?       | Yes       | No
        Faster?           | No        | Yes
        Memory Efficient? | No        | Yes
        Best For          | Changing data | Fixed data

4. Describe how dictionaries store data?
   - A dictionary stores data in key–value pairs.
   - Each value is accessed using a unique key instead of an index.
   - Internally, Python uses a hash table, which helps it store and find values very quickly.
   - So when you give a key, Python calculates its hash and directly picks the value from memory.

5. Why might you use a set instead of a list in Python?
   - Use a set when you want:

      ✅ 1. Unique values only

      A set automatically removes duplicates.
      (Useful when storing emails, usernames, IDs, etc.)

      ✅ 2. Fast searching

      Checking if something exists in a set is much faster than checking in a list.
      (Useful when checking if a user already exists.)

      ✅ 3. You don’t care about order

      Sets don’t keep order — and that’s okay in many cases.

6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters written inside quotes.
     Example: "hello", "Python123",
   -  It is used to store text.

   ⭐ How is a string different from a list?
     1. Mutability

      - String → Immutable (you cannot change characters directly)

      - List → Mutable (you can change elements)

      2. Type of elements

      - String → only characters

      - List → can store any data type (numbers, strings, lists, etc.)

      3. Representation

      - String → "hello"

      - List → ["h", "e", "l", "l", "o"] or any mixed items

      4. Usage

      - String → for text

      - List → for collections of items

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity because they are immutable.
   - Once created, their values cannot be changed, so the data stays safe and unchanged throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores data in key–value pairs.
   - It uses a hash function to convert each key into a unique index in memory, making data access very fast.
   - In Python, a dictionary (dict) is implemented internally using a hash table.
   - That’s why dictionary operations like search, insert, and delete are very fast (almost O(1) time).

9. Can lists contain different data types in Python?
   - Yes.
Python lists are heterogeneous, which means they can store different data types in the same list
   - for example:

     my_list = [10, "hello", 3.5, True]

10. Explain why strings are immutable in Python
    - Strings are immutable so that they stay safe and reliable when used in many places at once.
    - This also makes them faster and allows them to be used as dictionary keys.

11. What advantages do dictionaries offer over lists for certain tasks ?
    - Dictionaries let you find data instantly using keys, instead of searching through the whole list.
    - They’re great when you need fast lookups, meaningful labels, or want to store data as key–value pairs (like contacts: name → phone number).

12. Describe a scenario where using a tuple would be preferable over a list.
    - Use a tuple when you want data that should not change — like a person’s date of birth, GPS coordinates, or fixed configuration values.
    - Tuples keep the data safe and uneditable.

13. How do sets handle duplicate values in Python?
    - Sets automatically remove duplicates.
    - If you add the same value again, the set keeps only one copy, just like a list of unique items.

14. How does the “in” keyword work differently for lists and dictionaries?
    - In a list:

      "in" checks if a value exists in the list.
      Example: checking if 5 is in a shopping list.

    - In a dictionary:
    
      "in" checks only for keys, not values.
      Example: checking if "name" exists in a form’s data.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, you cannot modify a tuple because tuples are immutable.
    - This means once created, their values cannot change — useful for storing fixed data like dates or coordinates.

16. What is a nested dictionary, and give an example of its use case.
    - A nested dictionary is a dictionary inside another dictionary, used to store structured or grouped data.
    - Real-world example (use case):

     - Storing student details where each student has their own mini-dictionary:


```
students = {
    "101": {"name": "Sakshi", "marks": 92},
    "102": {"name": "Ravi", "marks": 88}
}

```



    - Useful when you need to store multiple details for each item.

17. Describe the time complexity of accessing elements in a dictionary
    - Accessing an element in a Python dictionary is O(1) on average because it uses a hash table, allowing instant lookup using keys.

18. In what situations are lists preferred over dictionaries
    - Lists are better when you need ordered, indexed data and don’t need key–value pairs
    - like storing a list of names, tasks, or items where position matters.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because they store data based on hashing, not position.
    - You can’t rely on the order of items — but you can retrieve any value instantly by using its key, not its position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
   - Difference between a list and a dictionary in data retrieval

      - List:

        You retrieve data using a position/index (like item 0, item 1, item 2).
        Example: picking the 3rd item from a shopping list.


      - Dictionary:

        You retrieve data using a key, not position.
        Example: getting a phone number by using the person’s name.

# Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it
name = "Sakshi"
print("My name is:", name)

My name is: Sakshi

In [2]:
# 2. Write a code to find the length of the string "Hello World"
word = "Hello World"
print("length of \"Hello World\" is:",  len(word))

length of "Hello World" is: 11

In [3]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print("First three characters from \"Python Programming\" is:", text[0:4])

First three characters from "Python Programming" is: Pyth

In [4]:
# 4. Write a code to convert the string "hello" to uppercase
text = "hello"
print("Upper case: ", text.upper())

Upper case:  HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
print(text.replace("apple", "orange" ))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
print("Second element : ", my_list[1])

Second element :  b

In [12]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list =  [10, 20, 30, 40, 50]
print("Reversed list: ", my_list[::-1])

Reversed list:  [50, 40, 30, 20, 10]

In [14]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [16]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
T1 = ('red', 'green', 'blue', 'yellow')
print(T1[1:])

('green', 'blue', 'yellow')

In [17]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
T1 = (10, 20, 5, 15)
print("Minimun value: ", min(T1))

Minimun value:  5

In [19]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
T1 = ('dog', 'cat', 'rabbit')
T1.index("cat")

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
T1 = ("Apple", "Kiwi", "Banana")
if "kiwi" in T1:
  print("Kiwi is present")
else:
   print("Kiwi is not present")

In [21]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set, type(my_set))

{'b', 'a', 'c'} <class 'set'>

In [24]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [26]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [28]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print("Union: ", set1.union(set2))

Union:  {1, 2, 3, 4, 5}

In [27]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print("Intersection: ", set1.intersection(set2))

Intersection:  {2, 3}

In [30]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
student = {
    "name" : "Sakshi",
    "age" : 18,
    "city" : "Pune"
}
print(student)

{'name': 'Sakshi', 'age': 18, 'city': 'Pune'}

In [32]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1 = {'name': 'John', 'age': 25}
dict1["country"] = "USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [34]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1 = {'name': 'Alice', 'age': 30}
dict1["name"]

'Alice'

In [36]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop("age")
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [37]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict:
  print("City is present")
else:
  print("City is not present")

City is present

In [38]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4]
my_tuple = (11, 12, 13)
my_dict = {"name" : "Sakshi", "age" : 18}
print(my_list, my_tuple, my_dict)

[1, 2, 3, 4] (11, 12, 13) {'name': 'Sakshi', 'age': 18}

In [40]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.
my_list = [4, 16, 26, 2, 78]
my_list.sort()
print(my_list)

[2, 4, 16, 26, 78]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ["Apple", "Kiwi", "Banana", "Mango"]
print(my_list[2])

In [45]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name" :"Sakshi", "age" : 18}
dict2 = {"city" : "Pune", "country" : "India"}
dict1.update(dict2)
print(dict1)

{'name': 'Sakshi', 'age': 18, 'city': 'Pune', 'country': 'India'}

In [46]:
# 30. Write a code to convert a list of strings into a set
my_list = ["Apple", "Kiwi", "Banana", "Mango"]
my_set = set(my_list)
print(my_set)

{'Mango', 'Banana', 'Apple', 'Kiwi'}